#contact {
  text-align: left;
  background-color: $black-color;
  padding: 12rem 0 6rem 0;
  margin-bottom: -1px;
  color: $white-color;
  position: relative;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  @include respond(phone) {
    padding: 3rem 0 3rem 0;
  }

  .contact-wrapper {
    padding: 0 2rem;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-wrap: wrap;
    }

    h1 {
      font-size: 4rem;
      margin: 0;

      @include respond(phone) {
        font-size: 2.8rem;
        margin: 3rem 0 0 0;
      }
    }

    &__text,
    a {
      font-size: 2rem;
      margin: 0;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }

  .waves-container {
    position: absolute;
    top: 30%;
    height: 50%;
    width: 100%;
    opacity: 0.25;
    z-index: 2;
  }
  .waves {
    position: relative;
    width: 100%;
    height: 90%;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
  }
  #gentle-wave {
    stroke-width: 0.15px;
  }
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 80px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
  }
}
